<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a href="https://github.com/Gauravdane20"
        ><i class="fa-brands fa-square-github"></i
      ></a>
      <a href="https://www.linkedin.com/in/gaurav-dane-7742ba250/"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
      <a href="https://twitter.com/IamGauravDane"
        ><i class="fa-brands fa-square-twitter"></i
      ></a>
    </div>
    <div class="f-info-brand">&copy; 2024 Company. Stay-Book by Gaurav</div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>&nbsp;&nbsp;&nbsp;
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
